/wsi/nbproject/private/
/wsi/build/
/wsi/dist/
/swi/nbproject/private/
/segip-ws/nbproject/private/
/segip-ws/build/
/HelloWorldws/nbproject/private/
/HelloWorldws/build/
/HelloWorldws/dist/
/xmlparser/nbproject/private/
/xmlparser/build/
/xmlparser/dist/
/wsdl4japp/nbproject/private/
/hibernateUtils/nbproject/private/