<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <items>
        <!-- Principal Usuario UIF ToolBar -->
        <menu>
            <xtype>tbbutton</xtype>
            <text>Seguridad</text> 
            <iconCls>security</iconCls> 
            <menu>
                <items>
                    <menu>    
                        <text>Gestion de Usuarios</text> 
                        <iconCls>icon</iconCls> 
                        <menu>
                            <items>                    
                                <menu>                    
                                    <text>Registro de Usuarios</text> 
                                    <iconCls>user</iconCls> 
                                    <module>
                                        <id>gu-001</id> 
                                        <title>Registro de Usuarios</title>
                                        <iconCls>user</iconCls> 
                                        <url>security/usermanager</url> 
                                    </module>
                                </menu>                                                      
                                <menu>                    
                                    <text>Asignacion de Servicios</text> 
                                    <iconCls>icon</iconCls> 
                                    <module>
                                        <id>gu-003</id> 
                                        <title>Asignacion de Servicios</title>
                                        <iconCls>icon</iconCls> 
                                        <url>asignacionservicios</url> 
                                    </module>
                                </menu>                                                                  
                            </items>
                        </menu>
                    </menu>                    
                    <menu>    
                        <text>Bitacora de Usuarios</text> 
                        <iconCls>icon</iconCls> 
                        <menu>
                            <items>                    
                                <menu>                    
                                    <text>Busqueda por usuario</text> 
                                    <iconCls>user</iconCls> 
                                    <module>
                                        <id>bu-001</id> 
                                        <title>Busqueda por usuario</title>
                                        <iconCls>user</iconCls> 
                                        <url>busquedaporusurio</url> 
                                    </module>
                                </menu>                     
                                <menu>                    
                                    <text>Busqueda por servicio</text> 
                                    <iconCls>icon</iconCls> 
                                    <module>
                                        <id>bu-002</id> 
                                        <title>Busqueda por servicio</title>
                                        <iconCls>icon</iconCls> 
                                        <url>404.jsp</url> 
                                    </module>
                                </menu> 
                            </items>
                        </menu>
                    </menu>                                        
                </items>
            </menu>
        </menu>
        <menu>
            <xtype>tbbutton</xtype>
            <text>Parametrizacion de Servicios</text> 
            <iconCls>module-app</iconCls> 
            <menu>
                <items>
                    <menu>    
                        <text>Gestion de Servicios</text> 
                        <iconCls>icon</iconCls> 
                        <menu>
                            <items>                    
                                <menu>                    
                                    <text>Registrar conexiones</text> 
                                    <iconCls>server</iconCls> 
                                    <module>
                                        <id>gs-001</id> 
                                        <title>Registrar conexiones</title>
                                        <iconCls>server</iconCls> 
                                        <url>administrarservicios</url> 
                                    </module>
                                </menu>                     
                                <menu>                    
                                    <text>Configurar parametros</text> 
                                    <iconCls>module-app</iconCls> 
                                    <module>
                                        <id>gs-002</id> 
                                        <title>Configurar parametros</title>
                                        <iconCls>module-app</iconCls> 
                                        <url>individual</url> 
                                    </module>
                                </menu> 
                                <menu>                    
                                    <text>Ver servicios</text> 
                                    <iconCls>operation</iconCls> 
                                    <module>
                                        <id>gs-003</id> 
                                        <title>Ver servicios</title>
                                        <iconCls>operation</iconCls> 
                                        <url>paneldeservicios</url> 
                                    </module>
                                </menu> 
                            </items>
                        </menu>
                    </menu>
                    <menu>    
                        <text>Compatibilización de Datos</text> 
                        <iconCls>icon</iconCls>                     
                        <menu>     
                            <items>               
                                <menu>                    
                                    <text>Configurar RPI</text> 
                                    <iconCls>icon</iconCls> 
                                    <module>
                                        <id>cd-001</id> 
                                        <title>Configurar RPI</title>
                                        <iconCls>icon</iconCls> 
                                        <url>rpi</url> 
                                    </module>
                                </menu>
                                <menu>                    
                                    <text>Desplegar RPI</text> 
                                    <iconCls>icon</iconCls> 
                                    <module>
                                        <id>cd-002</id> 
                                        <title>Desplegar datos</title>
                                        <iconCls>icon</iconCls> 
                                        <url>rpiview</url> 
                                    </module>
                                </menu>
                            </items>                                              
                        </menu>                    
                    </menu>
                </items>
            </menu>
        </menu>
    </items>   
</menu>
